In [1]:
import pandas as pd
import numpy as np

In [2]:
outages = pd.read_excel("data/outage.xlsx")
columns = outages.iloc[4]
outages = outages.drop([0, 1, 2, 3, 4, 5])
outages.columns = columns
outages = outages.drop(columns = "variables").reset_index(drop = True)
outages.head()

4,OBS,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,ANOMALY.LEVEL,CLIMATE.CATEGORY,OUTAGE.START.DATE,...,POPPCT_URBAN,POPPCT_UC,POPDEN_URBAN,POPDEN_UC,POPDEN_RURAL,AREAPCT_URBAN,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
0,1,2011,7,Minnesota,MN,MRO,East North Central,-0.3,normal,2011-07-01 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
1,2,2014,5,Minnesota,MN,MRO,East North Central,-0.1,normal,2014-05-11 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
2,3,2010,10,Minnesota,MN,MRO,East North Central,-1.5,cold,2010-10-26 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
3,4,2012,6,Minnesota,MN,MRO,East North Central,-0.1,normal,2012-06-19 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
4,5,2015,7,Minnesota,MN,MRO,East North Central,1.2,warm,2015-07-18 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743

In [3]:
outages.columns

Index(['OBS', 'YEAR', 'MONTH', 'U.S._STATE', 'POSTAL.CODE', 'NERC.REGION',
       'CLIMATE.REGION', 'ANOMALY.LEVEL', 'CLIMATE.CATEGORY',
       'OUTAGE.START.DATE', 'OUTAGE.START.TIME', 'OUTAGE.RESTORATION.DATE',
       'OUTAGE.RESTORATION.TIME', 'CAUSE.CATEGORY', 'CAUSE.CATEGORY.DETAIL',
       'HURRICANE.NAMES', 'OUTAGE.DURATION', 'DEMAND.LOSS.MW',
       'CUSTOMERS.AFFECTED', 'RES.PRICE', 'COM.PRICE', 'IND.PRICE',
       'TOTAL.PRICE', 'RES.SALES', 'COM.SALES', 'IND.SALES', 'TOTAL.SALES',
       'RES.PERCEN', 'COM.PERCEN', 'IND.PERCEN', 'RES.CUSTOMERS',
       'COM.CUSTOMERS', 'IND.CUSTOMERS', 'TOTAL.CUSTOMERS', 'RES.CUST.PCT',
       'COM.CUST.PCT', 'IND.CUST.PCT', 'PC.REALGSP.STATE', 'PC.REALGSP.USA',
       'PC.REALGSP.REL', 'PC.REALGSP.CHANGE', 'UTIL.REALGSP', 'TOTAL.REALGSP',
       'UTIL.CONTRI', 'PI.UTIL.OFUSA', 'POPULATION', 'POPPCT_URBAN',
       'POPPCT_UC', 'POPDEN_URBAN', 'POPDEN_UC', 'POPDEN_RURAL',
       'AREAPCT_URBAN', 'AREAPCT_UC', 'PCT_LAND', 'PCT_WATER_TOT',
       'PCT_WATER_INLAND'],
      dtype='object', name=4)

### Columns:
- `U.S._STATE` represents all states in the continental United States.
- `POSTAL.CODE` represents the postal code of the U.S. states.
- `CLIMATE.REGION` U.S. Climate regions as specified by National Centers for Environmental Information (nine climatically consistent regions in continental U.S.A.)
- `ANOMALY.LEVEL` represents the oceanic El NiÃ±o/La NiÃ±a (ONI) index referring to the cold and warm episodes by season.
- `OUTAGE.START.DATE` this variable indicates the day of the year when the outage event started (as reported by the corresponding Utility in the region)
- `OUTAGE.START.TIME` this variable indicates the time of the day when the outage event started (as reported by the corresponding Utility in the region)
- `OUTAGE.RESTORATION.DATE` this variable indicates the day of the year when power was restored to all the customers (as reported by the corresponding Utility in the region)
- `OUTAGE.RESTORATION.TIME`	This variable indicates the time of the day when power was restored to all the customers (as reported by the corresponding Utility in the region)
- `CAUSE.CATEGORY` Categories of all the events causing the major power outages
- `OUTAGE.DURATION` Duration of outage events (in minutes)
- `DEMAND.LOSS.MW` Amount of peak demand lost during an outage event (in Megawatt)
- `CUSTOMERS.AFFECTED` Number of customers affected by the power outage event
- `POPULATION` Population in the U.S. state in a year
- `RES.SALES` Electricity consumption in the residential sector (megawatt-hour)
- `COM.SALES` Electricity consumption in the commercial sector (megawatt-hour)
- `IND.SALES` Electricity consumption in the industrial sector (megawatt-hour)

In [4]:
desired_columns = ["U.S._STATE", "POSTAL.CODE", "CLIMATE.REGION", "ANOMALY.LEVEL", "OUTAGE.START.DATE", "OUTAGE.START.TIME", "OUTAGE.RESTORATION.DATE",
                  'OUTAGE.RESTORATION.TIME', "CAUSE.CATEGORY", "OUTAGE.DURATION", "DEMAND.LOSS.MW", "CUSTOMERS.AFFECTED", "POPULATION",
                   "RES.SALES", "COM.SALES", "IND.SALES"]

In [5]:
outages = outages[desired_columns]
outages.head()

4,U.S._STATE,POSTAL.CODE,CLIMATE.REGION,ANOMALY.LEVEL,OUTAGE.START.DATE,OUTAGE.START.TIME,OUTAGE.RESTORATION.DATE,OUTAGE.RESTORATION.TIME,CAUSE.CATEGORY,OUTAGE.DURATION,DEMAND.LOSS.MW,CUSTOMERS.AFFECTED,POPULATION,RES.SALES,COM.SALES,IND.SALES
0,Minnesota,MN,East North Central,-0.3,2011-07-01 00:00:00,17:00:00,2011-07-03 00:00:00,20:00:00,severe weather,3060,NaN,70000,5348119,2332915,2114774,2113291
1,Minnesota,MN,East North Central,-0.1,2014-05-11 00:00:00,18:38:00,2014-05-11 00:00:00,18:39:00,intentional attack,1,NaN,NaN,5457125,1586986,1807756,1887927
2,Minnesota,MN,East North Central,-1.5,2010-10-26 00:00:00,20:00:00,2010-10-28 00:00:00,22:00:00,severe weather,3000,NaN,70000,5310903,1467293,1801683,1951295
3,Minnesota,MN,East North Central,-0.1,2012-06-19 00:00:00,04:30:00,2012-06-20 00:00:00,23:00:00,severe weather,2550,NaN,68200,5380443,1851519,1941174,1993026
4,Minnesota,MN,East North Central,1.2,2015-07-18 00:00:00,02:00:00,2015-07-19 00:00:00,07:00:00,severe weather,1740,250,250000,5489594,2028875,2161612,1777937

In [6]:
outages.dtypes

4
U.S._STATE                 object
POSTAL.CODE                object
CLIMATE.REGION             object
ANOMALY.LEVEL              object
OUTAGE.START.DATE          object
OUTAGE.START.TIME          object
OUTAGE.RESTORATION.DATE    object
OUTAGE.RESTORATION.TIME    object
CAUSE.CATEGORY             object
OUTAGE.DURATION            object
DEMAND.LOSS.MW             object
CUSTOMERS.AFFECTED         object
POPULATION                 object
RES.SALES                  object
COM.SALES                  object
IND.SALES                  object
dtype: object

In [8]:
float_columns = ["ANOMALY.LEVEL", "OUTAGE.DURATION", "DEMAND.LOSS.MW", "CUSTOMERS.AFFECTED", "POPULATION", "RES.SALES", "COM.SALES", "IND.SALES"]
for column in float_columns:
    outages[column] = outages[column].astype(float)

In [10]:
outages.dtypes

4
U.S._STATE                  object
POSTAL.CODE                 object
CLIMATE.REGION              object
ANOMALY.LEVEL              float64
OUTAGE.START.DATE           object
OUTAGE.START.TIME           object
OUTAGE.RESTORATION.DATE     object
OUTAGE.RESTORATION.TIME     object
CAUSE.CATEGORY              object
OUTAGE.DURATION            float64
DEMAND.LOSS.MW             float64
CUSTOMERS.AFFECTED         float64
POPULATION                 float64
RES.SALES                  float64
COM.SALES                  float64
IND.SALES                  float64
dtype: object

In [12]:
outages['OUTAGE.START.DATE'] = outages['OUTAGE.START.DATE'].astype(str)
outages['OUTAGE.START.TIME'] = outages['OUTAGE.START.TIME'].astype(str)
outages['OUTAGE.RESTORATION.DATE'] = outages['OUTAGE.RESTORATION.DATE'].astype(str)
outages['OUTAGE.RESTORATION.TIME'] = outages['OUTAGE.RESTORATION.TIME'].astype(str)

Problem with NaN values.

In [14]:
outages['OUTAGE.START.DATETIME'] = pd.to_datetime(outages['OUTAGE.START.DATE'] + ' ' + outages['OUTAGE.START.TIME'], format='%Y-%m-%d %H:%M:%S')

ValueError: unconverted data remains when parsing with format "%Y-%m-%d %H:%M:%S": " 17:00:00", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.